[submodule "Software/lib/cryptoauthlib"]
	path = Software/lib/cryptoauthlib
	url = https://github.com/MicrochipTech/cryptoauthlib.git
[submodule "Software/lib/FreeRTOS-Kernel"]
	path = Software/lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "Software/lib/threadx"]
	path = Software/lib/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "Software/lib/LIS2MDL"]
	path = Software/lib/LIS2MDL
	url = https://github.com/STMicroelectronics/lis2mdl
